@model OnePiece.Models.Capitulos
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "MasterpageAdmin";
}

<form method="post" action="~/Admin/Capitulos/Eliminar">
    <input type="hidden" asp-for="Id" />
    <h1>Eliminar arco</h1>
    <p>Seguro de eliminar el capitulo: "<span>@Model.NombreCapitulo</span>"?</p>

    <div>
        <p id="error">@Html.ValidationSummary()</p>
        <input type="submit" value="Si" />
        <a href="~/Admin/Capitulos/IndexCapitulos">
            <input type="button" value="cancelar" />
        </a>

    </div>
</form>

