body {
    margin: auto;
    background-color: #F7F7F7;
    width: 880px;
}

form img{
    margin-right:10px;
}

h2 {
    font-size: 14px;
    margin-left: 14px;
}

main {
    height: 1350px;
    text-align:center;
}



label{
    font-size:14px;
}

textarea{
    resize:none;

    width:600px;
    height:330px;
}

h1{
    color:white;
    font-size:24px;
}

input{
    width:450px;
    margin-bottom:10px;
}

div input {
    background: #ECB365;
    border: none;
    margin: 13px;
    color: black;
    width:100px;
}



footer {
    border-top: 2px solid black;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    line-height: 49px;
    background-color: #F7D08A;
    color: black;
    font-family: Tahoma;
    bottom: 0;
    padding: 5px;

}
