@model OnePiece.Models.Arcos
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "MasterpageAdmin";
}

<form method="post" action="~/Admin/Arcos/Eliminar">
    <input type="hidden" asp-for="Id" />
    <h1>Eliminar arco</h1>
    <p>Seguro de eliminar el arco "<span>@Model.NombreArco</span>"?</p>

    <div>
        <p id="error">@Html.ValidationSummary()</p>
        <input type="submit" value="Si" />
        <a href="~/Admin/Arcos/Index">
            <input type="button" value="cancelar" />
        </a>

    </div>
</form>

