@model IEnumerable<OnePiece.Models.Arcos>
@{
    Layout = "MasterpageAdmin";
}

<h1>Administrar Arcos</h1>

<section>
    <a href="~/Admin/Arcos/Agregar">Nuevo Arco</a>


    @foreach (var item in Model)
    {
        <div>
            <h1>@item.NombreArco</h1>
            <div>
                <a href="~/Admin/Arcos/Editar/@item.Id">Editar</a>
                <a href="~/Admin/Arcos/Eliminar/@item.Id">Eliminar</a>
            </div>
        </div>
    }
</section>
