@{
    Layout = "MasterpageAdmin";
}


<a href="~/Admin/Arco/Agregar"></a>
<h1>Nuevo Arco</h1>

@foreach (var item in Model)
{
    <div>
        <h1>@item.NombreArco</h1>
    </div>

    <div>
        <a href="~/Admin/Arco/Editar/@item.IdArco"></a>
        <a href="~/Admin/Arco/Eliminar/@item.IdArco"></a>
    </div>
}
