<!DOCTYPE html>
<html>

<head>
    <link href="~/css/estiloIndexa.css" rel="stylesheet" />
    <title>Mundo One Piece</title>
</head>

<body>
    <header>
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ffc00.deviantart.net%2Ffs71%2Ff%2F2010%2F090%2F8%2F7%2FOne_Piece_Banner_by_solid002.png&f=1&nofb=1" />
    </header>
    <main>
        <form method="post" action="~/Account/Login">
            <div>
                <h1>Iniciar sesion</h1>
                <label>Nombre de usuario:</label>
                <input type="text" required name="username" />

                <label>Contraseña</label>
                <input type="password" required name="password" />

                <div>
                    <p class="error">@Html.ValidationSummary()</p>
                    <input type="submit" value="Entrar" />
                </div>
            </div>
        </form>
    </main>
    <footer>
        Mundo One Piece - Proyecto de Programación Web
        Jesus David Flores Hernandez
        Jacob Asael Barrera Mata
    </footer>
</body>
</html>
