

<!DOCTYPE html>
<html>
<head>
    @*<link href="~/css/estilos.css" rel="stylesheet" />*@
    <meta charset="UTF-8" />
    <title>Mundo One Piece</title>
</head>
<body>
    <header>
        <tite>World One Piece</tite>
        <nav>
            <a href="~/Admin">Principal</a>
            <a href="~/Admin/Arcos">Administrar Arcos</a>
            <a href="~/Admin/Capitulos">Administrar Capitulos</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        Mundo One Piece - Proyecto de Programación Web
        Jesus David Flores Hernandez
        Jacob Asael Barrera Mata
    </footer>
</body>
</html>
