<!DOCTYPE html>
<html>
<head>
    @*<link href="~/css/estilos.css" rel="stylesheet" />*@
    <title>Mundo One Piece</title>
</head>
<body>
    <header>
        <tite>World One Piece</tite>
        <nav>
            <a href="~/Admin">Principal</a>
            <a href="~/Admin/Arcos/IndexArcos">Administrar Arcos</a>
            <a href="~/Admin/Capitulos/IndexCapitulos">Administrar Capitulos</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        Mundo One Piece - Proyecto de Programación Web
        Jesus David Flores Hernandez
        Jacob Asael Barrera Mata
    </footer>
</body>
</html>
