@inject OnePiece.Services.ArcoServices arcos

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/estilos1.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <title>Mundo One Piece</title>
</head>
<body>
    <header>
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ffc00.deviantart.net%2Ffs71%2Ff%2F2010%2F090%2F8%2F7%2FOne_Piece_Banner_by_solid002.png&f=1&nofb=1" />
        <nav>
            <a href="~/Home">Principal</a>
            @foreach (var item in arcos.Arcos)
            {
                <a href="~/@item.NombreArco.Replace(" ","-" )">@item.NombreArco</a>
            }
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        Mundo One Piece - Proyecto de Programación Web
        Jesus David Flores
        Jacob Asael Barrera
        Erika Yazmin Briones
    </footer>
</body>
</html>
