@model OnePiece.Models.Arcos
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    Layout = "Masterpage";
}
<head>
    <link href="~/css/estiloArcoss.css" rel="stylesheet" />
</head>

<div>
    <h1>@Model.NombreArco</h1>

    @foreach (var item in Model.Capitulos)
    {

        <li style="">
            <a href="~/@Model.NombreArco.Replace(" ","-")/@item.NombreCapitulo.Replace(" ","-")">
                <h1>One Piece Cap: @item.NumCap - @item.NombreCapitulo</h1>
                @if (System.IO.File.Exists($"{env.WebRootPath}/img_capitulos/{item.Id}.jpg"))
                {
                    <img src="~/img_capitulos/@(item.Id).jpg" style="height:150px;width:320px;" />
                }
                else
                {
                    <img src="~/img_capitulos/nophoto.jpg" style="height:150px;width:320px;" />
                }
                <p>@item.Descripcion</p>
            </a>
        </li>

    }
</div>