@model OnePiece.Models.Arco
@{
    Layout = "Masterpage";
}

<h1>@Model.NombreArco</h1>

@foreach (var item in Model.Capitulos)
{

    <li>
        <a href="~/@Model.NombreArco.Replace(" ","-")/@item.NombreCapitulo.Replace(" ","-")">
            <h1>One Piece - @item.NombreCapitulo</h1>
            <img src="~/loffy.png" style="height:200px;width:400px;" />
            <p>@item.Descripcion</p>
        </a>
    </li>

}