@model OnePiece.Models.Arcos
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    Layout = "Masterpage";
}

<h1>@Model.NombreArco</h1>

@foreach (var item in Model.Capitulos)
{

    <li>
        <a href="~/@Model.NombreArco.Replace(" ","-")/@item.NombreCapitulo.Replace(" ","-")">
            <h1>One Piece - @item.NombreCapitulo</h1>
            @if (System.IO.File.Exists($"{env.WebRootPath}/img_capitulos/{item.Id}.jpg"))
            {
                <img src="~/img_capitulos/@(item.Id).jpg" style="height:200px;width:400px;" />
            }
            else
            {
                <img src="~/img_capitulos/nophoto.jpg" style="height:200px;width:400px;" />
            }
            <p>@item.Descripcion</p>
        </a>
    </li>

} 