@model IEnumerable<OnePiece.Models.Capitulos>
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    Layout = "Masterpage";
}


<h1>Lista de episodios</h1>
@foreach (var item in Model)
{
<li>
    <a href="~/@item.IdArcoNavigation.NombreArco.Replace(" ","-")/@item.NombreCapitulo.Replace(" ","-")">
            @if (System.IO.File.Exists($"{env.WebRootPath}/img_capitulos/{item.Id}.jpg"))
            {
                <img src="~/img_capitulos/@(item.Id).jpg" style="height:200px;width:400px;" />
            }
            else
            {
                <img src="~/img_capitulos/nophoto.jpg" style="height:200px;width:400px;" />
            }
            <h1>@item.NombreCapitulo</h1>
        </a>
</li>
}
