@model OnePiece.Models.Capitulos
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    Layout = "Masterpage";
}

<h1>InfoCap</h1>
<h1>One piece - @Model.NombreCapitulo</h1>
@if (System.IO.File.Exists($"{env.WebRootPath}/images/{Model.Id}.jpg"))
{
    <img src="~/images/@(Model.Id).jpg" style="height:200px;width:400px;" />
}
else
{
<img src="~/images/nophoto.jpg" style="height:200px;width:400px;" />
}
<p>@Model.Descripcion</p>

<a href="javascript:window:.history.back()">Regresar</a>
