@model OnePiece.Models.Capitulos
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    Layout = "Masterpage";
}

<h1>InfoCap</h1>
<h1>One piece - @Model.NombreCapitulo</h1>
@if (System.IO.File.Exists($"{env.WebRootPath}/img_capitulos/{Model.Id}.jpg"))
{
    <img src="~/img_capitulos/@(Model.Id).jpg" style="height:200px;width:400px;" />
}
else
{
    <img src="~/img_capitulos/nophoto.jpg" style="height:200px;width:400px;" />
}
<p>@Model.Descripcion</p>

<a href="~/Index">
    <input type="button" value="Regresar"/>
</a>
