@model OnePiece.Models.Capitulo
@{
    Layout = "Masterpage";
}

<h1>InfoCap</h1>
<h1>One piece - @Model.NombreCapitulo</h1>
<img src="~/loffy.png" style="height:200px;width:400px;" />
<p>@Model.Descripcion</p>

<a href="javascript:window:.history.back()">Regresar</a>
